{% extends 'base.html' %}
{% load staticfiles %}
{% block serch_bar %}
    {#    搜索模块 #}
    <div class="search_bar clearfix">
        <a href="index_2.html" class="logo fl"><img src={% static "images/logo.png" %}></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{% block page_title %}

        {% endblock %}</div>
        <div class="search_con fr">
            <form method="get" action="/search">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="button" class="input_btn fr" name="" value="搜索">
            </form>
        </div>
    </div>
{% endblock %}